// Settings to run the workflow on sarthy_lab assoc on Sasquatch 

//global parameters
params {
    assoc                      = 'sarthy_lab'
    partition                  = 'cpu-core-sponsored'
    account                    = 'cpu-sarthy_lab-sponsored'
    outdir                     = '/data/hps/assoc/private/sarthy_lab/user/cwo11/projects/atacseq_test'

    // config profile info   
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input       = 'https://raw.githubusercontent.com/nf-core/test-datasets/atacseq/samplesheet/v2.0/samplesheet_test.csv'
    read_length = 50

    // Genome references
    mito_name = 'MT'
    fasta     = 'https://raw.githubusercontent.com/nf-core/test-datasets/atacseq/reference/genome.fa'
    gtf       = 'https://raw.githubusercontent.com/nf-core/test-datasets/atacseq/reference/genes.gtf'


}


workDir = "/data/hps/assoc/private/${params.assoc}/user/$USER/temp"

profiles {
    //For executing the jobs on Sasquatch cluster
    sasquatch {
        process.executor       = 'slurm'
        process.queue          = "${params.partition}"
        process.clusterOptions = "--account=${params.account} --time=72:00:00"
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        apptainer.cacheDir     = "$HOME/apptainer_test"
        // apptainer.cacheDir     = "/data/hps/assoc/private/${params.assoc}/user/$USER/apptainer"
        apptainer.runOptions   = '--containall --no-home'
        apptainer.pullTimeout  = '6h'
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}

// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry   = 'quay.io'

