// this config is written specifically for running nf-core/pacvar
// global parameters
params {
    assoc                      = 'sarthy_lab'
    partition                  = 'cpu-core'
    account                    = 'sarthy_lab'
}

profiles {
    //For executing the jobs on Sasquatch cluster
    sasquatch {
        process.executor       = 'slurm'
        process.queue          = "${params.partition}"
        process.clusterOptions = "--account=${params.account} --time=72:00:00"
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        //apptainer.cacheDir     = "$HOME/apptainer_test"
        apptainer.cacheDir     = "/data/hps/assoc/private/${params.assoc}/container"
        apptainer.runOptions   = "--containall --no-home --bind $TMPDIR"
        //apptainer.runOptions   = "--no-home --bind /data/hps/home/cwo11:/data/hps/home/cwo11 --bind $TMPDIR --pwd /tmp"
        apptainer.pullTimeout  = '60m'
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}
