// this config is written specifically for running nf-core/pacvar
// global parameters
params {
    assoc                      = 'sarthy_lab'
    partition                  = 'gpu-core-sponsored'
    account                    = 'gpu-sarthy_lab-sponsored'
}

process {
  withLabel:process_single {
        cpus   = { 1 }
        memory = { 1700.GB }
        // memory = { 6.GB * task.attempt }
        time   = { 24.h  * task.attempt }
  }
  withLabel:process_low {
    cpus   = { 6 * task.attempt }
    memory = { 24.GB * task.attempt }
    time   = { 24.h  * task.attempt }
  }
  withLabel:process_medium {
    cpus   = { 24  * task.attempt }
    // memory = { 48.GB * task.attempt }
    memory = { 1700.GB }
    time   = { 48.h * task.attempt }
  }
  withLabel:process_high {
    cpus = { 64 }
    // cpus   = { 24 * task.attempt }
    memory = { 1800.GB }
    // memory = { 1020.GB * task.attempt }
    time   = { 72.h * task.attempt }
  }
}

profiles {
    //For executing the jobs on Sasquatch cluster
    sasquatch {
        process.executor       = 'slurm'
        process.queue          = "${params.partition}"
        process.clusterOptions = "--account=${params.account} --time=72:00:00"
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        //apptainer.cacheDir     = "$HOME/apptainer_test"
        apptainer.cacheDir     = "/data/hps/assoc/private/${params.assoc}/container"
        apptainer.runOptions   = "--containall --no-home --bind $TMPDIR"
        apptainer.pullTimeout  = '60m'
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}
